.DS_STORE
react-app/node_modules
react-app/dist
svelte-app/node_modules
svelte-app/src/v3/
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
.module-cache
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
